body {
  margin: 0;
  text-align: center;
  background-image: url('https://i.imgur.com/lWgQkB9.jpg');
  background-size: 100%;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.startLinks {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}