body {
  background-color: black;
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: .5em;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: .2em;
}

.headerLink {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.headerLink:hover {
  color: gold
}

/* HOME PAGE */

.homeTitle {
  font-size: 70px;
  margin: 90px 0 0 0 ;
}

.homeLinks {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: .3em;
}

.homeImage {
  padding: 10px 0 0 0;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.homePage {
  background-image: url('https://i.imgur.com/O9nSN5e.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}

/* ALL CARDS DISPLAY */

.allCardsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardImage {
  width: 400px;
  border-radius: 15px;
}

.cardDiv {
  width: 400px;
  height: 600px;
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 15px;
}

.infoWrapper {
  font-size: 20px;
  margin: -30px;
}

/* MY CARDS DISPLAY */

.myCardsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD INFO */

.cardInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardKeywords {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* .keywords, .reverseKeywords {
  width: 80px;
  padding: 0 100px 0 100px;
} */

.description {
  background-color: rgb(83, 81, 81);
  padding: 10px 20px 10px 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: normal;
}

.cardSymbols {
  display: flex;
  justify-content: center;
}

.symbolsList {
  list-style-type: none;
}

/* ALL SYMBOLS PAGE */

.allSymbols {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: black;
}

/* FORM */

.createForm, .modifyForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.cardImageButton {
  background-color:rgb(83, 81, 81);
  padding: 20px;
}

.imageMap {
  display: flex;
  height: 300px;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mappedImages {
  height: 100px;
  width: 100px;
}